<!DOCTYPE html>
<html>
{{- partial "head.html" . -}}

<body class="bg:gray-90@dark font:gray-15@dark">
    <nav class="w:full h:90 fixed bg:gray-88@dark bg:white z:1000">
        <div class="
            h:full
            w:full
            max-w:1280
            mx:auto
            px:16
            d:flex
            align-items:center
        ">
            <div class="mr:8">
                <a class="mr-3 font:extralight">Holy</a>
            </div>
            {{ $navBtn := `font:semibold px:8` }}
            <a class="{{ $navBtn }}">Home</a>
            <a class="{{ $navBtn }}">About</a>
        </div>
    </nav>

    <div class="pt:90 px:16 max-w:1280 mx:auto">
        {{- block "main" . }}{{- end }}
    </div>
    {{- partial "footer.html" . -}}
</body>

</html>
