{{ define "main" }}
<article class="box:border-box py:64 w:full">
    <header class="mb:32">
        <div class="font:40 font:extrabold">{{ .Title }}</div>
        <div class="mt:16 font:fade-70">
            {{- if isset .Params "date" -}}
            {{ if eq .Lastmod .Date }}
            <time>{{ .Date | time.Format (":date_medium") }}</time>
            {{ else }}
            <time>{{ .Lastmod | time.Format (":date_medium") }}</time>
            {{ end }}
            {{- end -}}
        </div>
    </header>
    {{- partial "prose.html" . -}}
</article>
{{ end }}