{{ define "main" }}
<article class="py:42 mx:auto max-w:704px">
    <header class="mb:2em">
        <div class="font:40 font:extrabold">{{ .Title }}</div>
        <div class="mt:.8em font:gray">
            {{- if isset .Params "date" -}}
            {{ if eq .Lastmod .Date }}
            <time>{{ .Date | time.Format (":date_medium") }}</time>
            {{ else }}
            <time>{{ .Lastmod | time.Format (":date_medium") }}</time>
            {{ end }}
            {{- end -}}
        </div>
    </header>

    {{/* <div class="
        my:16>p
        mt:0>p+p
        mt:32>:where(h1,h2,h3,h4,h5,h6)

        my:16>blockquote
        border-left:2px>blockquote
        pl:16>blockquote_p
    "> */}}

        <div class="
        _:where(a):hover{text-decoration-color:blue-36!}
        _:where(a)@dark{text-decoration-color:fade-68}
        _:where(a){text-decoration:2;underline;fade-23}
        _:where(blockquote)@dark{bl:5;solid;fade-34/.1}
        _:where(blockquote){bl:5;solid;fade-76/.1}
        _:where(code){font:90%;_v:middle}
        _:where(code:not(.highlight_*)){p:2;4;_r:4}
        _:where(del)@dark{text-decoration-color:red-64}
        _:where(del){text-decoration:1;line-through;fade-68}
        _:where(figcaption)@dark{font:gray-57}
        _:where(figcaption){text:14;_p:10;20;0;_width:fit;_mx:auto;_font:fade-56}
        _:where(h1){font:40;_font:extrabold}
        _:where(h1,h2,h3)+:where(h1,h2,h3){mt:.5em}
        _:where(h1,h2,h3,h4,h5,h6){mt:2em}
        _:where(h2){mb:1em;_font:32}
        _:where(h3){font:24}
        _:where(h4){font:20}
        _:where(h5){font:16}
        _:where(h6){font:14}
        _:where(li)::marker@dark{font:gray-68}
        _:where(li)::marker{font:fade-45}
        _:where(li){pl:.375em}
        _:where(mark)@dark{text-decoration-color:rgb(252;224;22/.5)}
        _:where(mark){text-decoration:1;underline;#fce016;_bg:transparent}
        _:where(p,li)@dark{font:gray-34}
        _:where(p,li){font:fade-76;_font:16;_line-height:1.65}
        _:where(p,pre,blockquote,figure,ul,ol,table){my:1.125em}
        _:where(pre){p:20;_r:8;_overflow:auto}
        _:where(pre,code:not(.highlight_*))@dark{bg:gray-93}
        _:where(pre,code:not(.highlight_*)){bg:gray-3}
        _:where(strong,b,a,code:not(.highlight_*),mark,del)@dark{font:gray-12}
        _:where(strong,b,a,code:not(.highlight_*),mark,del){font:fade-92}
        _:where(table){width:full;_border-spacing:0}
        _:where(td){v:baseline}
        _:where(td,th):first-child{pl:0}
        _:where(td,th):last-child{pr:0}
        _:where(td,th)@dark{b:gray-4/.04}
        _:where(td,th){bb:1;solid;fade-92/.06;_p:6}
        _:where(th)@dark{font:gray-12}
        _:where(th){font:gray-78;_font:14;_text:left}
        _:where(th,p_code,li_code,a,mark)@dark{font:medium}
        _:where(th,p_code,li_code,a,mark){font:semibold}
        _:where(ul){list-style-type:disc}
        _:where(ul,ol,blockquote){pl:1.5em}
        _:where(video,img){max-width:full}
        _:where(a,mark){text-underline-offset:3}
    ">
            {{- .Content -}}
        </div>
</article>
{{ end }}